@import "tailwindcss";

@theme {
    --font-sans: "Roboto Variable", sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

@keyframes countrySelectorFadeIn {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #7f8792 transparent;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #7f8792;
    border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
}